/*   reset */

* {
	margin:0; 
	padding: 0
}
body {
	font-family: arial, helvetica, sans-serif
}
ul, li {
	list-style: none;
}

/* fin reset */


/* #wrapper et génériques */

#wrapper {
	margin: 25px auto;
	width: 960px;
	background-color: #fff;
	padding: 15px;
	border:1px solid #d5f;
}

.bloc-align {
	display: table-cell;
	border: 1px solid #ededed;
	background:#c9c8c7;;;
	box-sizing: border-box; 
	vertical-align: bottom; 
	padding: 0.5em;
}
.bloc-align:nth-of-type(4n){
	vertical-align: top;

}
.bloc-align:nth-of-type(4n+2){
	vertical-align: middle;
}